<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Página realizada</h5>
                <p>Mario Alberto Luna Montes </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h3 class="text-uppercase">Links</h3>

                <ul class="list-unstyled">
                    <li>
                        <a href="/pintor1">Diego Rivera</a>
                    </li>
                    <li>
                        <a href="pintor2">Leonardo Da vinci</a>
                    </li>
                    <li>
                        <a href="pintor3">Miguel Angel</a>
                    </li>
                    <li>
                        <a href="pintor4">Salvador Dalí</a>
                    </li>
                </ul>

            </div>

            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white"> <p> © 2020 Copyright:</p>
        <a href="correosmario05@gmail.com"> Mario Luna</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="scripts\proyecto.js"></script>

