<!DOCTYPE html>
<html lang="en">

{{>header}}
    <title>Mario Luna Salvador</title>

<body class="salvador" background="images\bight.png">
<a id="volver" href="/"><img src="images\atras.png" alt="" width="60px"></a>
<header>
    <h1>SALVADOR DALÍ</h1>
</header>
<main>
    <img id="perfil" src="images\salvador.jpg" alt="">
    <h4>Biografía</h4>
    <p>Salvador Dalí fue un polifacético artista español del siglo XX (nació el 11 de mayo de 1904 y murió el 23 de enero de 1989) conocido principalmente por:

        - Su obra como pintor (entre los que destacan cuadros como: "la persistencia de la memoria").

        - Ser uno de los máximos representantes del movimiento surrealista.

        - Crear un nuevo estilo pictórico conocido como el método paranoíco-crítico.
        Nació un 11 de mayo de 1904 en el número 20 de la calle Monturiol de Figueras (Gerona; España).

        Se adentraría en el mundo de la pintura con tan solo 12 años de la mano de unos amigos de sus padres, los Pichot. Gracias a esta familia de artistas y especialmente a la figura de Ramón Pichot, Dalí descubrió el impresionismo.

        A los 18 se trasladó a la Residencia de Estudiantes de Madrid para estudiar en la Real Academia de Bellas Artes de San Fernando. Allí conoció y estableció fuertes lazos con algunas futuras celebridades del arte español como Federico García Lorca o Luis Buñuel. Uno de los hechos más curiosos y que más se recuerdan de esta época fue su segunda y definitiva expulsión de la Academia en 1926. El propio artista contó en una entrevista que, un día de examen, en una prueba oral de historia del arte para ser más exactos, se negó a hablar del artista Rafael en frente del tribunal que lo examinaba, alegando que los evaluadores presentes no estaban capacitados para examinarle, puesto que él había leído y sabía mucho más que ellos tres juntos sobre el famoso renacentista italiano.

        Un año más tarde, en 1927, viajó a París, donde conocería a uno de las pocas personas que llegó idolatrar en su vida: Pablo Picasso. Esa ciudad, además, vería florecer el surrealismo de Dalí así como ese característico bigote inspirado en Velázquez que le acompañaría el resto de su vida.

        En 1929 conoció a la que sería su gran amor y musa, una inmigrante rusa 11 años mayor que él conocida con el nombre de Gala.

        En 1931 pintaría uno de sus cuadros más famosos: "la persistencia de la memoria" (también conocido como "los relojes blandos") inspirado, según el propio autor, en trozos de queso Cambembert derritiéndose al sol.

        En 1941 él y Gala se mudaron a Estados Unidos. Allí pasaron 8 años hasta que en 1949 decidieran volver a Cataluña, tierra donde permanecieron hasta sus últimos días. Este último período de su vida y su trabajo artístico estuvo especialmente relacionado con la ciencia [* Si os interesa, este documental explica la influencia de la ciencia en sus obras], la religión y otras actividades creativas (creó el logo actual de la compañía Chupa Chups, realizó un anuncio televisivo para la marca de chocolate Lanvin y participó en la campaña publicitaria de Eurovisión, ... entre otras). Finalmente fallecería el 23 de enero de 1989 por una parada cardiorrespiratoria a los 84 años de edad.
    </p>
</main>
<br>
<br>


<img id="bien" src="images\salvador1.jpg" alt="">
<h5>SUEÑO CAUSADO POR EL VUELO DE UNA ABEJA ALREDEDOR DE UNA GRANADA UN SEGUNDO ANTES DE DESPERTAR</h5>
<p>Es un famoso cuadro del pintor español Salvador Dalí realizado en 1944. Está hecho mediante la técnica del óleo sobre tabla, es de estilo surrealista y sus medidas son 51 x 41 cm. Se conserva en Madrid, en el Museo Thyssen-Bornemisza.
    En el cuadro se ve a Gala, mujer y musa de Salvador Dalí, que levita dormida sobre una roca en un paisaje marino en el que reina la calma. Bajo su cuerpo desnudo flotan también dos gotas de agua y una granada en torno a la que revolotea una abeja. El zumbido de la abeja provoca un sueño en Gala, que se materializa en la parte superior por la explosión de otra granada de la que sale un pez de cuya boca, a su vez, surgen dos enfurecidos tigres y una bayoneta. Es este arma el que, un segundo más tarde, despertará a Gala de su plácido descanso.
</p>
<br>
<br>
<br>
<img id="mal" src="images\salvador2.jpg" alt="">
<h5>LOS ELEFANTES</h5>
<p>También conocido por su título en inglés "The Elephants". Pintado al óleo sobre tela, el año 1948. Este cuadro recupera las figuras absolutamente fascinantes y oníricas que Dalí había creado hace 4 años, pero esta vez son protagonistas de la obra</p>
<img id="bien"src="images\salvador3.jpg" alt="">
<h5>CISNES QUE SE REFLEJAN COMO ELEFANTES</h5>
<p>Cisnes que se reflejan como elefantes es una pintura por el pintor surrealista español Salvador Dalí. El cuadro fue pintado durante su período paranoico-crítico, y contiene una de las imágenes dobles más conocidas que formaron una parte importante de este período.
    Cisnes que se reflejan como elefantes emplea el reflejo en un lago para crear la imagen doble del cuadro. Tres cisnes están delante de árboles y, en el reflejo, los cisnes son las cabezas de los elefantes y los árboles son los cuerpos. El fondo del cuadro es un paisaje catalán representado en colores de otoño, el manejo del pincel creando remolinos en los precipicios circundantes del lago, para contrastar con la quietud del agua.
</p>
<br>
<br>
<br>
<img id="mal" src="images\salvador4.jpg" alt="">
<h5>LA PERSISTENCIA DE LA MEMORIA</h5>
<p>Realizado mediante la técnica del óleo sobre lienzo, es de estilo surrealista El paisaje es simple; aparece el mar al fondo y una pequeña formación rocosa a la derecha de forma insólita. En primer plano a la izquierda, se observa un bloque probablemente de cartón tejido a mano, que hace las funciones de una mesa, sobre el que se disponen dos relojes, un árbol y en el centro de la obra aparece una extraña figura que simula una cabeza blanda, cuyo cuello se diluye en la oscuridad. Llama la atención la enorme nariz, la especie de lengua que sale de ella y el ojo cerrado con largas pestañas. La figura parece dormir sobre la arena. El artista ha colocado sobre esta figura un cuarto reloj, igualmente blando y que también parece derretirse o escurrirse. Los elementos anteriormente descritos se ambientan en lo que parece una playa desierta, con el mar y una cala rodeada de acantilados al fondo. El cielo y el mar se confunden.

    Dalí, según él mismo, se inspiró en el queso camembert a la hora de añadir el homenaje al cuadro, relacionándolos por su calidad de «tiernos, extravagantes, solitarios y paranoico-críticos».
</p>
<br>
<br>
<br>
<img id="bien"src="images\salvador5.jpg" alt="">
<h5>LA TENTACIÓN DE SAN ANTONIO</h5>
<p>Esta es una de las obras más representativas del surrealismo español, fue pintada en 1946, al óleo sobre tela, con medidas 90 x 120 cm.
    San Antonio Abad del siglo III, uno de los primeros ermitaños cristianos, es representado en el desierto combatiendo contra las tentaciones de fama, sexo, riquezas y poder. Cada una de ellas montada sobre los lomos de un animal. El Santo interpone la Cruz entre su persona y las tentaciones, como única esperanza de que no lo embarguen.
</p>
<br>
<br>
<br>
{{>footer}}
</body>
</html>