
<!DOCTYPE html>
<html lang="en">
{{>header}}
<body class="diego">

<a id="volver" href="/"><img src="images\atras.png" alt="" width="60px"></a>
<header>
    <h1>Diego Rivera</h1>
</header>
<main>
    <img id="perfil" src="images\diegorivera.jpg" alt="">
    <ul >
        <li>Género: Pintura mural</li>
        <li>Obras: Epopeya del pueblo mexicano, La tierra fecunda, Río Juchitán.</li>
        <li>Nombre: Diego María de la Concepción Juan Nepomuceno Estanislao de la Rivera y Barrientos Acosta y Rodríguez</li>
        <li>Cónyuges: Angelina Beloff (1911-1921), Guadalupe Marín (1922-1927), Frida Kahlo (1929-1939), Emma Hurtado (1955-1957)</li>
        <li>Hijos: Ruth, Marika, Guadalupe, Diego</li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Biografía</h4>
    <p>
        Diego Rivera fue un pintor y muralista muy famoso nacido el 8 de Diciembre de 1886 en la ciudad de Guanajuato, México.  Su nombre completo es Diego María de la Concepción Juan Nepomuceno Estanislao de la Rivera y Barrientos Acosta y Rodríguez.

        Diego Rivera es muy conocido en Estados Unidos por una controversia con  su mural «El hombre controlador del universo» al cual también se le conoce como «El hombre en el cruce del camino» o «Man at the Crossroads» el cual fue un mural que Diego Rivera pinto en el año 1933 para el Rockefeller Center en la ciudad de New York.

        En el mural Diego Rivera incluyó a personas comunistas tales como el lider Vladimir Lenin, razón por la cual la familia Rockefeller se enfadó y solicitó despedir a Diego y quemar el mural.

        Posteriormente el mural fue repintado para el Palacio de Bellas Artes en la Ciudad de México.
        Diego Rivera nació el 8 de diciembre de 1886 en Guanajuato, México.

        Cuando tenia tan solo 10 años empezó a estudiar arte en la histórica Academia de San Carlos  de la ciudad de México. Posteriormente Diego viajo a Europa para continuar sus estudios en arte en el año 1907 y durante ese tiempo conoció y se hizo amigo de varios artistas famosos incluyendo a Pablo Picasso.
        Durante la década de 1950 Diego empezó a tener complicaciones de salud y murió el 24 de noviembre de 1957 en la Ciudad de México debido a una insuficiencia cardíaca.
    </p>
</main>
<img id="normales1" src="images\diegorivera1.jpg" alt="">
<h5>LA VENDEDORA DE LAS FLORES.</h5>
<p>En sus últimas pinturas Rivera desarrollo un estilo indigenista y social de gran atractivo popular.
    En formas simplificadas y con un colorido vivo rescató el pasado precolombino y los momentos más significativos de la historia mexicana: la tierra, el campesino, las costumbres…En la serie de “La vendedora de flores” refleja claramente al campesino oprimido.
    Contrasta la blancura y belleza de las flores con el color terroso de las campesinas y la acumulación de tanta flor acaba creando una sensación de agobio que hace que al espectador le llegue más vivamente esa opresión.
    En uno de sus lienzos de 1942 por ejemplo, podemos ver a una vendedora de flores arrodillada mientras que alguien, a quien no vemos, le carga en su espalda una gran cesta de calas. El lazo que abraza a la mujer muestra claramente esa opresión a la que los campesinos estaban sometidos que quería denunciar Rivera y, a pesar de la belleza de las flores, se refleja claramente la pesada carga que esa humilde campesina transportará con dignidad.
</p>
<img  id="normales" src="images\diegorivera2.jpg" alt="">
<h5>CASA SOBRE EL PUENTE.</h5>
<p>El pintor representa, al fondo, la Casa Arents, que actualmente aloja al Museo Brangwyn;
    en el costado izquierdo, un muro del palacio Gruuthuse del siglo XV; y a través del puente,
    el fluir constante de las aguas del canal Reie. La evocación de la nostalgia simbolista de la ciudad muerta,
    con sus edificios deteriorados por el tiempo, está lograda en este óleo a través de diversas tonalidades rojizas que remiten al otoño,
    resaltadas por contraste con las zonas lumínicas: el cielo, la fachada de la casa, así como la luz que se vislumbra al final del acueducto.
    La tranquilidad de las aguas del canal, que incluyen el reflejo de la escena, se ve perturbada por el goteo proveniente de una de las gárgolas del palacio de la izquierda,
    formando en la superficie ondas concéntricas; especialmente en esta área,
    las pinceladas tienen apariencia de escurrimientos y manchones para lograr los efectos. </p>

<img  id="normales1" src="images\diegorivera3.jpg" alt="">
<h5>LA MUJER DEL POZO.</h5>
<p>Se apega al cubismo sintético. Esta obra se distingue al resto debido a sus elementos icono-gráficos representativos del contexto de la Revolución Mexicana, tales como el rifle, el cinturón, el güaje, el sombrero y el sarape. De fondo se aprecia el Valle de México con sus volcanes, los cuales representan la totalidad de su país.
    Diego Rivera rompió los esquemas del arte con la superposición de las imágenes dentro de esta obra, pero siempre protagonizando a la mujer extrayendo agua del pozo, icono que refleja a la mujer trabajadora y esforzada de la época.
</p>

<h5>SUEÑO DE UNA TARDE DOMINICAL EN LA ALAMEDA CENTRAL.</h5>
<p>SUEÑO DE UNA TARDE DOMINICAL EN LA ALAMEDA CENTRAL
    <br>
    Tres secciones componen el mural:
    <br>
    1.   La conquista y la época colonial de México
    <br>
    2.   Importantes escritores y personajes como Diego Rivera a la edad de 9 años, Frida Kahlo, y la Catrina.
    <br>
    3.   Los movimientos campesinos y la Revolución Mexicana
    <br>
    El escenario en que todos estos personajes sueñan es la Alameda Central, icónico paseo de la ciudad de México.
    “La composición [del mural] son recuerdos de mi vida, de mi niñez y de mi juventud y cubre de 1895 a 1910. Los personajes del paseo sueñan todos, unos durmiendo en los bancos y otros, andando y conversando”. Diego Rivera
</p>
<img  id="largas" src="images\diegorivera4.jpg" alt="">
<h5>LA EPOPEYA DEL PUEBLO MEXICANO.</h5>
<p>276 metros cuadrados de los muros sur, poniente y norte de la escalera principal del Palacio Nacional. Un atajo visual al pasado remoto y al futuro impredecible, composición de colores y formas que exponen: el misticismoprecolombino, el salvajismo irracional del conquistador, las luchas por la libertad contra el invasor y el opresor y la construcción del porvenir inconcluso.</p>
<img  id="largas" src="images\diegorivera5.jpg" alt="">
{{>footer}}
</body>
</html>