
<!DOCTYPE html>
<html lang="en">
{{>header}}
    <title>Mario Luna Leonardo</title>

<body class="leo">
<a id="volver" href="/"><img src="images\atras.png" alt=""width="60px"></a>
<header> <h1>LEONARDO DA VINCI</h1> </header>
<main>
    <img id="perfil" src="images\leonardo.jpg" alt="">
    <h4>Biografìa</h4>
    <p>Leonardo da Vinci nació el 15 de abril de 1452. Fue hijo de un notario y una campesina que nunca se casaron. Hasta los cinco años vivió en casa de su madre, pero después empezó a vivir con su padre y su madrastra y de vez en cuando con sus abuelos. Llegó a tener doce hermanastros y hermanastras que fueron mucho más jóvenes que él.
        El año 1466 empieza a practicar diversas actividades en el taller de un escultor llamado Andrea del Verrocchio. Allí empieza a pintar, a esculpir y a diseñar.
        Leonardo da Vinci se convirtió en pintor, escultor, ingeniero, inventor, músico, escritor y arquitecto, y se le consideraba un gran genio. Siempre tuvo mucho interés en los estudios anatómicos del cuerpo humano y podía dibujar los órganos humanos con mucho detalle.
        Fue aceptado en el gremio de pintores de Florencia en 1472 y abrió su propio taller de pintura y escultura, así que su fama comenzó a crecer y le encargaban muchos trabajos diferentes y muy importantes.
        Durante toda su vida estuvo al servicio de varios duques que le encargaban esculturas y pinturas de sus familias para enseñarlas en sus salones y sus jardines, pero lo que de verdad le interesaba era inventar nuevos vehículos, armas y objetos.
        Aunque siempre estuvo creando y construyendo nuevas obras, las luchas que hubo mientras vivía, tanto las luchas y rebeliones que hubo después de su muerte, fueron las culpables de que muchas de las cosas que creó fueran destruidas, quemadas o perdidas, incluyendo sus restos que los tiraron en un lugar desconocido después de una guerra.
        Murió el 2 de mayo de 1519 en Francia.
    </p>
</main>
<img id="normales1" src="images\leonardo1.jpg" alt="">
<h5>LA GIOCONDA</h5>
<p>La Mona Lisa, también conocida como La Gioconda, es una obra del Renacimiento pintada al óleo sobre tabla entre los años 1503 y 1506
    El cuadro se encuentra actualmente en el Museo del Louvre en París, Francia.

    La Mona Lisa es considerada la pintura más famosa del mundo. Pocas obras han pasado por tanto escrutinio y estudio. Algunas de las razones que la hacen tan famosa son:
    <br>
<ul>
    <li>El realismo extremo de Leonardo da Vinci al usar métodos matemáticos para medir las proporciones humanas,</li>
    <br>
    <li> La técnica única del sfumato que también transmite un realismo muy avanzado para la época,</li>
    <br>
    <li> La revolución que generó en las dimensiones y en las formas de retratar, considerada la base de todos los retratos occidentales,</li>
    <br>
    <li> La suma de los misterios de la pintura; desde la identidad de la modelo hasta el porqué Leonardo da Vinci nunca entregó el encargo.</li>
</ul>
</p>

<h5>LA ÙLTIMA CENA</h5>
<p>La última cena (Il cenacolo) es una pintura mural realizada entre los años 1495 y 1498
    Fue encargada por Ludovico Sforza para el refectorio del Convento de Santa Maria delle Grazie en Milán, Italia. Leonardo no cobró por ella. La escena recrea la última cena de Pascua entre Jesús y sus apóstoles, a partir del relato descrito en el evangelio de Juan, capítulo 13.
    <img  src="images\leonardo2.jpg" alt="">
</p>
<img id="normales" src="images\leonardo3.jpg" alt="">
<h5>HOMBRE DE VITRUVIO</h5>
<P>El dibujo realizado en lápiz y tinta y que formaba parte de las anotaciones de uno de sus diarios, perteneció a la colección personal del también pintor y escritor Giuseppe Bossi, hasta que a su muerte pudo ser adquirida por la Galería de la Academia de Venecia, lugar donde se encuentra hoy en día y desde 1822.
    El hombre de Vitruvio es la visión que tenía Leonardo sobre la posición que ocupa el hombre en el universo, para Leonardo el hombre era el centro, motivo por el que es representado dentro del círculo. Por otro lado, el cuadrado representa a la parte clásica ya que es la base de la arquitectura de éste periodo, la proporcionalidad.  Los ángulos de 90º y la simetría son las bases de la escultura y arquitectura grecolatina.
    Esta proporcionalidad es la que Leonardo aporta al estudio anatómico del cuerpo humano, siguiendo los mismos cánones de la belleza clásica.
</P>
<img id="normales1" src="images\leonardo4.jpg" alt="">
<h5>SALVATOR MUNDI</h5>
<p>Consiste en un retrato de Cristo que hace un gesto de bendición con su mano derecha, mientras sostiene con la izquierda un orbe de cristal</p >
<br>
<br>
<br>
<br>
<br>
<br>

<img id="normales" src="images\leonardo5.jpg" alt="">
<h5>SU AUTORETRATO</h5>
<p>Leonardo realizaba todas sus obras, incluso los esbozos, cuidando cada detalle. Si se observa atentamente el dibujo, se cae en la cuenta de cada cabello, cada pelo de la barba, está realizado con enorme precisión, aunque el rostro no esté acabado; falta de hecho la parte superior de la frente y parte de la barba pero produce la impresión de verse.

    Este autorretrato, más que ser fiel como una fotografía, es una interpretación que Leonardo da a su propio rostro, jugando sobre la base de juegos de luces y sensaciones.</p>
{{>footer}}
</body>
</html>